<% content_for(:title, "Bus Timetable") %>

<h1>Bus Timetable</h1>

<h3>Lines:</h3>
<ul>
<% @lines.each do |line| %>
  <li><%= link_to line.name, line_path(line.slug) %></li>
  <ul>
  <% line.stations.each do |station| %>
    <li><%= link_to station.name, station_path(station.slug) %></li>
    Times:
    <% line.station_stop(station).stoptimes.each do |stoptime| %>
      <%= stoptime.name.strftime("%I:%M %p") %>
    <% end %>
  <% end %>
  </ul>
<% end %>
</ul>

<%= render "form" %>

