<% content_for(:title, "Bus Timetable") %>

<h1>Bus Timetable</h1>

<h3>Lines:</h3>
<ul>
<% @lines.each do |line| %>
  <li><%= link_to line.name, line_path(line.slug) %></li>
<% end %>
</ul>

<%= render "form" %>

<%= link_to "List of Stations", stations_path, :class => "btn btn-primary" %>
<%= link_to "List of Stops", stops_path, :class => "btn btn-primary" %>
