<% content_for(:title, "#{@line.name} | Bus Timetable") %>

<h1><%= @line.name %></h1>

<h3>Stations served by this line:</h3>
<ul>
<% @line.stations.each do |station| %>
  <li><h4><%= link_to station.name, station_path(station.slug) %></h4></li>
<% end %>
</ul>

<%= link_to "Edit Line", edit_line_path, :class => "btn btn-success" %>
<%= link_to "Delete Line", line_path(@line),
                              :confirm => "Are you sure?",
                              :method => "delete",
                              :class => "btn btn-danger" %>

<br />
<br />



