<% content_for(:title, "#{@station.name} | Bus Timetable") %>

<h1><%= @station.name %></h1>

<h3>Lines serving this station:</h3>
<ul>

<li></li>

</ul>

<%= link_to "List of Stations", stations_path, :class => "btn btn-primary" %>
<%= link_to "Edit Station", edit_station_path, :class => "btn btn-success" %>
<%= link_to "Delete Station", station_path(@station),
                              :confirm => "Are you sure?",
                              :method => "delete",
                              :class => "btn btn-danger" %>


