<% content_for(:title, "Bus Timetable") %>

<h1>Bus Timetable</h1>

<h3>Stops:</h3>
<ul>
<% @stops.each do |stop| %>
  <li><%= link_to "Line: #{stop.line.name} - Station: #{stop.station.name}",
                  stop_path(stop) %>

    <%= link_to "Edit", edit_stop_path(stop), :class => "btn btn-success btn-xs" %>
    <%= link_to "Delete", stop_path(stop),
                          :confirm => "Are you sure?",
                          :method => "delete",
                          :class => "btn btn-danger btn-xs"%></li>
<% end %>
</ul>

<%= render "form" %>

